@use "variables";

.my-btn {
  display: inline-block;
  vertical-align: baseline;
  color: variables.$grey-color;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  border: 1px solid variables.$silver-white-color;;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  padding: 10px 16px;
  text-transform: uppercase;

  &.film-page-btn {
    color: variables.$yellow-color;
    outline-color: transparent;
    border: 1px solid variables.$yellow-color;
    background-color: transparent;
    margin: 20px 0;

    &:hover {
      color: variables.$dark-color;
      background-color: variables.$yellow-color;
      border-color: variables.$dark-color;
    }

    &:focus {
      border-color: variables.$dark-yellow;
    }

  }

  &.ticket-form-btn {
    font-size: 10px;
    color: variables.$yellow-color;
    outline-color: transparent;
    border: 1px solid variables.$yellow-color;
    margin-left: 5px;
    margin-bottom: 10px;

    &:hover {
      color: variables.$dark-color;
      background-color: variables.$yellow-color;
      border-color: variables.$dark-color;
    }

    &:focus {
      border-color: variables.$dark-yellow;
    }
  }

  &.ticket-modal-button {
    font-size: 10px;
    color: variables.$yellow-color;
    outline-color: transparent;
    border: 1px solid variables.$yellow-color;
    margin: 10px 0;

    &:hover {
      color: variables.$dark-color;
      background-color: variables.$yellow-color;
      border-color: variables.$dark-color;
    }
  }
}

.not-found-btn {
  color: white;
}
