.card-film {
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: #1d1e22;
  background-position: center;
  background-size: cover;

  .card-title {
    color: #feda6a;
    font-size: 15px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    padding: 0 5px;
    margin-bottom: 0;
    cursor: pointer;
  }

  & .card-description {
    color: #feda6a;
    font-size: 15px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .genre-badge, .session-badge {
    color: #feda6a;
    font-size: 12px;
    font-weight: lighter;
    text-transform: uppercase;
    border:1px solid #feda6a;
    background-color: transparent;
    margin: 10px 5px;
    cursor: pointer;

    &:hover {
      color: #feda6a;
      box-shadow:  0 0 10px  #feda6a;
      background-color: #1d1e22;
    }
  }

  .genre-badge {
    font-size: 10px;
  }

  .card-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(20, 30, 20, 0.73);
    padding-top: 100px;
  }

  .card-film-img {
     img {
       width: 100%;
       height: 400px;
       object-fit: cover;
      }
  }
}
