.header-container {
  background-color: $dark-color;
}

.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  .logo {
      font-size: 20px;
      letter-spacing: 0.2px;
      text-decoration: none;
      text-align: center;
    }
}


