@use "variables";

.nav {

}

.nav-list {
  display: flex;
  align-items: end;
  margin: 0;
  padding: 0;
  list-style: none;


  .nav-item {
    color: variables.$yellow-color;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    border: 1px solid transparent;
    padding-right: 20px;

    &.is-active {
      &:after {
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        font-size: 15px;
        font-weight: 400;
        background-color: variables.$yellow-color;
      }
    }
  }

  & .nav-item {
    &:after {
      display: block;
      content: "";
      width: 0;
      height: 1px;
      background-color: variables.$yellow-color;
      transition: width .3s ease-in-out;
    }

   & .nav-item {
      &:hover:after {
        width: 100%;
        background-color: variables.$dark-grey-color;
      }
    }
  }

  & .nav-item {
    &:hover {
      color: variables.$silver-white-color;
      &:after {
        background-color: variables.$silver-white-color;
      }
    }
  }
}


.navbar-toggler {
  background-color: variables.$yellow-color;
  border: 2px solid variables.$dark-grey-color;
}

.collapse.show .nav-list {
  transition: padding 400ms linear;
  &:first-child {
    padding-top: 10px;
  }
  padding-bottom: 10px;
}







