.nav {

}

.nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  .nav-item {
    color: #feda6a;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    padding-left: 20px;
    border: 1px solid transparent;

    &.is-active {
      &::after {
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        font-size: 15px;
        font-weight: 400;
        background-color: #feda6a;
      }
    }
  }

  & .nav-item {
    &::after {
      display: block;
      content: "";
      width: 0%;
      height: 1px;
      background-color: #feda6a;
      transition: width .3s ease-in-out;
    }

   & .nav-item {
      &:hover:after {
        width: 100%;
        background-color: #333333;
      }
    }
  }

  & .nav-item {
    &:hover {
      color: #f8f9fa;
      &:after {
        background-color:#f8f9fa;
      }
    }
  }
}







