@use "variables";

.ticket-form-container {
  border-radius: 5px;
  background-color: variables.$dark-color;
  padding: 10px;
  margin-top: 30px;
}

.ticket-form-control {
  padding: 10px 5px;
}

.ticket-form-error {
  color: variables.$red-color;
  font-size: 10px;
  text-transform: uppercase;
}

.ticket-input {
  font-size: 12px;
  font-weight: 400;
  color: variables.$silver-white-color;
  outline-color: variables.$yellow-color;
  outline-width: 2px;
  width: 100%;
  background-color: transparent !important;
  border-bottom: 1px solid variables.$silver-white-color;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 10px 10px;
}

